In [4]:
# write all integer sol of x**2-2y**2=1 for all the values of x,y between 1 100
for x in range(1,101):
    for y in range(1,101):
        if( x**2-2*(y**2)==1):
            print(f"x={x} and y={y} ")

x=3, y=2
x=17, y=12
x=99, y=70

In [13]:
# WAP that gives aan amount of change for 1 dollar and it prints out the denoimination that we needed for the change 
# 1. quater =25  2.dime= 10 3. nickel=5  4. penny=1 
dollar=float(input("enter dollars"))
qauter=25
dime=10
nickel=5
penny=1

if dollar<1:
    dollar=dollar*100
    t1=dollar//25
    if(t1>=1):
        dollar=dollar-(25*t1)
        print(f"quater={t1} amt={t1*25}")
    else:
        print(f"quater=0")
        
    t1=dollar//10
    if(t1>=1):
        dollar=dollar-(10*t1)
        print(f"dime={t1}  amt={t1*10}")
    else:
        print(f"dime=0")
        
    t1=dollar//5
    if(t1>=1):
        dollar=dollar-(5*t1)
        print(f"nickle={t1}  and amt={t1*5}")
    else:
        print(f"nickle=0")
        
    t1=dollar//1
    if(t1>=1):
        dollar=dollar-(1*t1)
        print(f"penny={t1}  amt={t1}")
    else:
        print(f"penny=0")    
    
    
else:
    print("wrong input")

enter dollars0.99
quater=3.0 amt=75.0
dime=2.0  amt=20.0
nickle=0
penny=4.0  amt=4.0

In [69]:
# suppose you put 1 rupees in bank on first day(monday) every day from next day (tue,sun) you puttinh 1 ruppes 
#more than day before and on every subsequenct monday you will put i rupees more thsn previous monday if you have n 
#find the total amount of money you will have in th bank at eend of Nth day
bank = 0
mon = 1
j = 7
count=1
for i in range(1, 18):
    
    if i % 7 == 0:   
           
            bank = 0
            mon = mon + 1
            bank = bank + mon
            print(bank)
            bank = bank + 1
            print(bank)
            
    else:
            bank = bank + 1
            print(bank)

1
2
3
4
5
6
2
3
4
5
6
7
8
9
3
4
5
6
7